<div class="container__big-card">
  <div class="big-card__header">
    <app-avatar
      avatar="https://img.freepik.com/fotos-gratis/feliz-bonito-mulher-jovem-posar-camera-em-parque-cidade_1262-19158.jpg?w=826&t=st=1707266821~exp=1707267421~hmac=84a16631305d064f20cb3c76529d498e5c0511cbf0ed89066655e4ecd1a6b490"
      data="12/02/24"
      name="Fernanda"
      ></app-avatar>
    <svg
      class="heart-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        fill="red"
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
  </div>
  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="{{ title }}" />
  </div>
  <div class="big-card__title">
    <h1>{{ title }}</h1>
  </div>
  <div class="big-card__description">
    <p>
      {{ description }}
    </p>
  </div>
</div>
