<div class="container__small-card">
  <div class="small-card__photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
    />
  </div>
  <div class="small-card__title">
    <app-avatar
      avatar="https://img.freepik.com/fotos-gratis/feliz-bonito-mulher-jovem-posar-camera-em-parque-cidade_1262-19158.jpg?w=826&t=st=1707266821~exp=1707267421~hmac=84a16631305d064f20cb3c76529d498e5c0511cbf0ed89066655e4ecd1a6b490"
      data="12/02/24"
      name="Fernanda"
      [isSmall]="true"
    ></app-avatar>
    <h1>Saiu a nova versão do angular</h1>
  </div>
</div>
