.container__small-card {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px gray;
  flex-direction: row;
  padding: 0.5rem;
  width: 100%;
}

.container__small-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.small-card__photo {
  max-width: 10rem;
}

.small-card__photo > img {
  width: 100%;
  height: 100%;
}

.small-card__title > h1 {
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-left: 1.5rem;
}

@media screen and (max-width: 480px) {
  .container__small-card {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .small-card__photo {
    max-width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container__small-card {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .small-card__photo {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
