<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      title="Novo angular saiu!"
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nam facere sit similique minima omnis ab ratione, sequi dolor iusto in natus aspernatur beatae totam aperiam voluptas officiis nesciunt praesentium.
    Voluptatibus ut nisi illum mollitia praesentium quidem qui eveniet, doloribus consequuntur veritatis facere, id harum exercitationem quo ad. Molestiae neque odit sunt, voluptatum atque beatae placeat similique maxime aliquam maiores."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <small>Últimos posts</small>

    <app-small-card
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      title="Novo angular saiu!"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
